; TunnelIt server configuration

[TunnelIt]
; Interface to listen on
; listen_ip = 

; Port to listen on
; listen_port = 2222

; Range of available ports for redirections
; port_range = 10000:20000

; Location of public and private keys
; public_key = keys/public.key
; private_key = keys/private.key

; Maximum duration of a client connection (in seconds). Client will be
; disconnected after time elapses
; session_duration = 600

; URI of the DB to connect to
; Example: sqlite:///tmp/test.sqlite
; Example: mysql://user:password@host/db
; db_uri = sqlite:///tmp/tunnelit.sqlite

